@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url("https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans+Condensed:300");


:root {
   --brand: #03C4A1;
   --dark: #121212;
   --white: #ffffff;
   --pink: #db0f64;
   --yellow: #FFDC7F;
   --red: #EB1D36;
   --green:#90EE90;
}

body {
   font-family: "Dosis", sans-serif;
   font-size: 16px;
   line-height: 1.6;
   color: var(--dark);
   letter-spacing: 1px;
   overflow-x: hidden;
   min-height: 100vh;


}

h2,
h3,
h4,
h5,
h6 {
   font-weight: 1500;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: var(--pink);
   font-family: 'Rancho', cursive;

}

a {
   text-decoration: none;
   color: var(--dark);
   transition: all 0.4s ease;
}


a:hover {
   color: var(--brand);
}

img {
   width: 100%;
}

.bg-brand {
   background-color: var(--brand);
}

/* HERO */
.hero {
   background-image: url('/public/img/cover.jpg');
   height: 100vh;
   background-size: cover;
   background-position: center;
   /* display: flex; */
   /* align-items: center; */
   text-align: center;
   /* position: relative; */
   /* z-index: 2; */
}



.hero h1 {
   letter-spacing: 2px;
   font-weight: 600;
   color: var(--brand);
   font-size:120px ;
   font-family: 'Rancho', cursive;
}

.hero h4 {
   /* margin-top: 55px; */
   font-weight: 600;
   letter-spacing: 2px;
   /* font-size: 14px; */
   color: var(--dark);
   font-family: 'Rancho', cursive;
}


/* enroll button */


.glow { position: relative;
   display: inline-block;
   padding: 12px 32px;
   color:  var(--red);
   background: var(--yellow);
   text-transform: uppercase;
   letter-spacing: 1px;
   text-decoration: none;
   font-size: 34px;
   overflow: hidden;
   
   border-radius: 100px;
   font-weight: 600;
   font-family: 'Rancho', cursive;

}

.glow:hover {
   color: var(--yellow);
   background: var(--red);
   box-shadow: 0 0 10px var(--brand), 0 0 40px var(--brand), 0 0 80px var(--brand), ;
   

}


/* button end */




/* NAVBAR */
.navbar {
   transition: background 0.5s ease, padding .2s ease;
   padding-top: 10px;
   padding-bottom: 10px;
}

.navbar-dark .navbar-nav .nav-link {
   text-transform: uppercase;
   font-size: 14px;
   transition: all 0.8s ease;
   font-weight: 600;
   border-bottom: 2px solid transparent;
   color: var(--pink);
}

.navbar-dark .navbar-nav .nav-link.active {
   color: var(--brand) !important;
}

/* INFOBOX */
.feature-box {
   background-color: var(--yellow);
   padding: 60px 30px;
   border-radius: 10px;
}

.icon-box {
   width: 200px;
   height: 200px;
   font-size: 32px;
   /* background-color: var(--brand); */
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100px;
   color: #fff;
   margin: 0 auto 30px auto;
   flex: none;
}

section {
   padding-top: 80px;
   padding-bottom: 80px;
}



/* About */
#about{
   /* background-image:url(/public/img/body/backcover2.png); */
   
}

.card1:hover {
   transform: scale(1.1);
 }
 .card1 {
   transition: transform 0.2s ease;
 }
 .card {
   box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
   border-radius: 0;
   border: 0;
 }

/* games  */
#games{
   background-image: url(/public/img/body/4.png);
   height:fit-content;
   width: 100%;
}






/* Game-Project */
.box{
   font-family: 'Rancho', cursive;
   overflow: hidden;
   position: relative;
   z-index: 1;
   transition: all .5s;
   border-radius: 10px;
}
.box:hover{ box-shadow: 3px 3px 5px #999; }
.box:before,
.box:after{
   content: "";
   background: radial-gradient(circle at 23% 70%,rgba(255,255,255,0.8),#fff 30%);
   width: 150%;
   height: 150%;
   opacity: 0;
   transform: rotate(45deg);
   position: absolute;
   top:-10.5%;
   right:-150%;
   z-index: 1;
   transition: all 0.35s ease;
}
.box:after{
   background: rgba(255,255,255,0.5);
   width: 65%;
   height: 65%;
   right: auto;
   left: -20%;
   top: -65%;
}
.box:hover:before{
   opacity: 1;
   right: -85%;
}
.box:hover:after{
   opacity: 1;
   top: -42%;
}
.box img{
   width: 100%;
   height: auto;
   transition: all 0.5s ease;
}
.box:hover img{ transform: scale(1.2); }
.box .box-content{
   text-align: right;
   transform: translateY(-50%);
   position: absolute;
   top: 50%;
   right: -100%;
   z-index: 2;
   transition: all .5s;
}
.box:hover .box-content{ right: 5%; }
.box .title{
   color: #1e272e;
   font-size: 23px;
   font-weight: 700;
   text-transform: uppercase;
   margin: 0 0 3px 0;
}
.box .post{
   font-size: 16px;
   text-transform: capitalize;
   margin: 0 0 10px;
   display: block;
}


 

/* selection */
.selection {
   display: flex;
   padding: 30px;
   align-items: center;
   background-color: var(--yellow);
   border-radius: 10px;
}

.selection .icon-box {
   margin-right: 20px;
   width: 120px;
   height: 120px;
  
}


 .selection {
   border-bottom-right-radius: 4em;
   border-top-left-radius: 4em;
   box-shadow: 5px 5px 10px #BCAFAC ;

 }


 
 .selection:hover {
   background-position: left;
   background-color:var(--green) ;
 }
 

/* Schedule  */
#Schedule{
   background: url();
   
}

.timeline {
   position: relative;
   margin: 0 auto;
   width: 90%;
   
}
.timeline ul li {
   margin-bottom: 50px;
   list-style-type: none;
   display: flex;
   flex-direction: row;
   align-items: center;
}
.point {
   min-width: 20px;
   height: 20px;
   background-color: #be9fe1;
   border-radius: 100%;
   z-index: 2;
   border: 3px #333333 solid;
   position: relative;
   left: 1px;
}
.timeline ul li .content {
   width: 50%;
   padding: 0 20px;
}
.timeline ul li:nth-child(odd) .content {
   padding-left: 0;
}
.timeline ul li:nth-child(odd) .date {
   padding-right: 0;
}
.timeline ul li:nth-child(even) .content {
   padding-right: 0;
}
.timeline ul li:nth-child(even) .date {
   padding-left: 0;
}
.timeline ul li .date {
   width: 50%;
   padding: 0 20px;
   font-weight: normal;
}
.timeline ul li .date h4 {
   background-color: #e1ccec;
   width: 100px;
   text-align: center;
   padding: 5px 10px;
   border-radius: 10px;
}
.timeline ul li .content h3 {
   padding: 10px 20px;
   background-color: #be9fe1;
   margin-bottom: 0;
   text-align: center;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
.timeline ul li .content p {
   padding: 10px 20px;
   background-color: #e1d9ec;
   margin-top: 0;
   text-align: center;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.timeline ul li:nth-child(even) {
   flex-direction: row-reverse;
}
.timeline ul li:nth-child(even) .date h4 {
   float: right
}
.timeline::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 3px;
   left: 50%;
   background-color: #333333;
}

/* end schedule */

/* Rewards */

.pricing-table {
   background-color: #fff;
   padding: 60px 30px;
}

.pricing-table.active {
   background-color: var(--brand);
}

.pricing-table ul {
   list-style: none;
   padding: 0;
}

.pricing-table ul li {
   margin-top: 20px;
}

/* FOOTER */
footer {
   background-color: var(--dark);
   padding-top: 60px;
   padding-bottom: 60px;
}

footer ul {
   list-style: none;
   margin-bottom: 0;
}

footer ul li {
   display: inline-block;
   margin-left: 10px;
   margin-right: 10px;
}

footer ul li a {
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 13px;
}

footer .social-links a {
   color: #fff;
   font-size: 24px;
   margin: 0 5px;
}